<section>
    <div class="container">
        <div class="row" style="padding-top: 84px">
        <div class="col-lg-1 col-lg-offset-2"><label class="generated-label">name</label>
        </div>
        </div>
        <div class="row" style="padding-top: 53px">
        <div class="col-lg-2 col-lg-offset-2"><mat-input-container class="" style="width: 100%;"><input matInput placeholder="Input" [(ngModel)]="student.name"></mat-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 101px">
        <div class="col-lg-1 col-lg-offset-2"><button class="btn btn-primary" (click)="create_Student()" style="width: 100%;">save</button>
        </div>
        </div>

    </div>
</section>
