<nav class="navbar navbar-inverse">
  <div class="navbar-header">
  <span style="font-size:30px;cursor:pointer;float:left; margin-left:20px; margin-top: 5px" onclick="openNav()">&#9776;</span>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" [routerLink]="['/']">GEPPETTO</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a [routerLink]="['/home']">Home</a></li>

      <li>
        <a  (click)="onsubmit()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id="MainMenu">
			<div class="list-group panel">
	            <a href="#Student_Default_Activity" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Student_Default_Activity <i class="fa fa-caret-down"></i></a>
	            <div class="collapse" id="Student_Default_Activity">
	              <a class="list-group-item" [routerLink]="['Save_screeneng']">Save_screen</a>

	            </div>
	        </div> 

   </div>
<!-- ttestingbeee -->
<div class="list-group panel" *ngIf="admin" >
  <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Administrator
      <i class="fa fa-caret-down"></i>
      </a>
  <div class="collapse" id="demo3">
    <a class="list-group-item" [routerLink]="['loggerScreen']">loggingManagement
      <i class="fa fa-hand-o-left"></i>
    </a>
 </div>
  </div>




   <!-- testingAAAA -->
   <!-- <div id="MainMenu">
     <div class="list-group panel">
       <a class="list-group-item" [routerLink]="['loggerScreen']">loggingManagement</a>
     </div>
   </div>
</div> -->